.wrapper {
  font-size: 13px;
  padding-top: 60px;
  margin: 0 auto;
  width: 65%;
  min-height: 400px;
  display: flex;
  justify-content: space-between;

  .products {
    width: 60%;
  }

  .product {
    display: flex;
    margin-bottom: 20px;
    border: 2px solid #efefef;
    border-radius: 5px;
    padding: 20px;

    .productImg img {
      width: 120px;
      height: 120px;
      margin: 0 25px 0 10px;
    }

    .productDetails {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .productInfo {
      .itemName {
        display: flex;
        flex-direction: column;
        margin-bottom: 7px;
        font-size: 16px;
        font-weight: 700;
        width: 400px;
        span {
          margin-bottom: 5px;
        }

        a {
          color: #333;
          text-decoration: none;
          font-size: 13px;
        }
      }
    }

    .productActions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .optionPrice {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
      }

      .btnArea {
        display: flex;
        button {
          border: none;
          background-color: white;
          padding: 0;
        }
        > span {
          margin: 0 10px;
        }
      }
    }
  }

  .prices {
    background-color: #eeeeee;
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    margin-top: 55px;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .price {
      font-size: 13px;
      font-weight: 600;
    }
    .priceTotal {
      font-size: 15px;
      font-weight: 700;
      color: #ff2828;
    }
    .btn {
      background-color: #000;
      color: white;
      border: none;
      padding: 10px;
      margin-top: 20px;
      border-radius: 5px;
      font-weight: 700;
    }
  }
}
