.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  margin-top: 60px;

  .totalInfo {
    display: flex;
    justify-content: space-between;

    img {
      width: 630px;
      height: auto;
    }
    .infoContent {
      float: right;
      width: 510px;
      height: auto;
      .infoHeader {
        font-size: 15px;
        letter-spacing: -0.5px;
        line-height: 26px;
        font-weight: 500;
      }
      .infoList {
        position: relative;
        width: 100%;
        height: auto;
        padding: 20px 0 10px;
        border-top: 2px solid #000;
        margin: 20px 0 26px;
        border-bottom: 2px solid #000;

        display: flex;
        flex-direction: column;
        > div {
          display: flex;
          align-items: center;
          span {
            color: #000;
            font-size: 14px;
            font-weight: bold;
            width: 130px;
          }
          p {
            color: #000;
            font-size: 14px;
          }
        }
        div:nth-child(1) > p {
          color: #999;
          font-size: 15px;
          text-decoration: line-through;
        }
        div:nth-child(2) > p {
          font-size: 15px;
          font-weight: bold;
        }
        div:nth-child(3) > p {
          font-size: 24px;
          font-weight: bold;
        }
      }

      .cartInput {
        .optionList {
          list-style: none;
          width: 100%;
          height: 43px;
          border: 1px solid #ccc9c9;
          font-size: 13px;
          color: #747474;
          padding: 0 10px;
          margin-bottom: 15px;
          margin-top: -15px;
        }
        .buyBtn {
          display: flex;
          button:nth-child(1) {
            width: 100%;
            background-color: #000;
            font-size: 17px;
            color: #fff;
            border: #000;
            font-weight: 500;
            border-radius: 5px;
          }
          button:nth-child(2) {
            margin-left: 10px;
            border: none;
            border-radius: 5px;
          }
          img {
            width: 30px;
            padding: 7px;
          }
        }
      }
    }
  }

  .detailInfo {
    .productTable {
      width: 100%;
      border-collapse: collapse;
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
      }
      th {
        background-color: #f2f2f2;
        text-align: left;
      }
    }
  }
}
